# Android Studio
.idea/
*.iml

# Ignore all compiled files and build outputs.
/target/

# Gradle
.gradle/
build/
/build/

# Local configuration
local.properties

# Class files
*.class

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Other
captures/
output.json 

# Backend build output
bilkom_backend/**/target/

# VS Code settings
.vscode/

# Environment files
.env target/
