<?xml version="1.0" encoding="utf-8"?>
<!--so what does android manifest do?
it is used to store the android manifest content which is basically the main file for the android app
it is used to store the permissions, activities, application, etc.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilkom">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BilkomApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/bilkom_logo"
        android:roundIcon="@drawable/bilkom_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bilkom"
        android:usesCleartextTraffic="true">

        <!-- Base Activity -->
        <activity android:name=".ui.BaseActivity" />

        <!-- Auth Activities -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegistrationActivity" />

        <!-- Main Activities -->
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.EmergencyAlertsActivity" />

        <!-- Club Activities -->
        <activity android:name=".ui.ClubListActivity" />
        <activity android:name=".ui.ClubDetailsActivity" />
        <activity android:name=".ui.AddClubActivity" />
        <activity android:name=".ui.ClubActivitiesActivity" />
        <activity android:name=".ui.JoinClubActivity" />
        <activity android:name=".ui.MyClubsActivity" />
        <activity android:name=".ui.ClubMembersActivity" />
        <activity android:name=".ui.ManageClubActivity" />

        <!-- Event Activities -->
        <activity android:name=".ui.EventActivity" />
        <activity android:name=".ui.EventListActivity" />
        <activity android:name=".ui.EventDetailsActivity" />
        <activity android:name=".ui.CreateEventActivity" />
        <activity android:name=".ui.MyActivitiesActivity" />
        <activity android:name=".ui.ReportActivity" />
        <activity android:name=".ui.EventDetailsFragment" />

        <!-- Settings Related Activities -->
        <activity android:name=".ui.AccountSettingsActivity" />
        <activity android:name=".ui.NotificationSettingsActivity" />
        <activity android:name=".ui.PrivacySettingsActivity" />
        <activity android:name=".ui.ChangePasswordActivity" />
        
    </application>
</manifest> 